In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lecture 09 ##

## Prediction ##

In [ ]:
galton = Table.read_table('galton.csv')
heights = galton.select(3, 7).relabeled(0, 'MidParent').relabeled(1, 'Child')

In [ ]:
heights

In [ ]:
heights.scatter('MidParent', 'Child')

In [ ]:
heights.scatter('MidParent', 'Child')
plots.plot([67.5, 67.5], [50, 85], color='red', lw=2)
plots.plot([68.5, 68.5], [50, 85], color='red', lw=2);

In [ ]:
heights.scatter('MidParent', 'Child')
plots.plot([67.5, 67.5], [50, 85], color='red', lw=2)
plots.plot([68.5, 68.5], [50, 85], color='red', lw=2)
plots.scatter(68, 66.24, color='gold', s=50);

## Apply with Multiple Columns ##

In [ ]:
galton

In [ ]:
# difference between each woman's height and her mother's

## Grouping by Category ##

In [ ]:
all_cones = Table.read_table('cones.csv')
all_cones

## Examples ##

In [ ]:
nba = Table.read_table('nba_20172018_salaries.csv')
nba

In [ ]:
# total salary paid by each team, highest first

In [ ]:
# average salary paid for each position

In [ ]:
# for each team, average salary paid for each position

## Pivot Tables ##

In [ ]:
all_cones

In [ ]:
all_cones.group(['Flavor', 'Color'])

## Examples ##

In [ ]:
# for each team, average salary paid for each position

In [ ]:
# for each team,
# amount paid to "starter" (player earning the most) in each position

In [ ]:
# sort teams by total amount paid to starters